.contacto-header {
  background-image: url("../image/home.png");
}

.contacto-title {
  color: white;
  text-shadow: 0px 4px 4px black;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  background-color: #001f3f;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 10px;
  display: flex;
  justify-content: start;
  width: max-content;
  align-self: flex-end;
}

.mensajes {
  list-style: none;
}

.red {
  color: red;
}

.green {
  color: green;
}

label {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
}

textarea {
  padding: 8px;
  height: 150px;
  font-size: 16px;
  width: 100%;
}

@media (max-width: 768px) {
  .flex-col {
    padding: 16px;
    gap: 48px;
  }

  label {
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
}

.self-start {
  flex-direction: column;
  align-items: start;
}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

input,
option,
select {
  width: 100%;
  padding: 4px 8px;
  font-size: 16px;
}

.gap0 {
  gap: 0px;
}

.p32 {
  padding: 32px;
}

.bg-socialmedia-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #474747;
  color: white;
}

.bg-socialmedia-container a {
  text-decoration: none;
  color: white;
}

.icon {
  color: white;
}

.icons {
  padding-top: 32px;
  margin-top: auto;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.h-flex {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: start;
}